---
extends: 'default'

ignore: |
  themes/

rules:
  comments:
    level: 'error'
  comments-indentation:
    level: 'error'
  document-start:
    level: 'error'
  line-length:
    max: 125
    level: 'warning'
  quoted-strings: 'enable'
  truthy:
    level: 'error'
